<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Translit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
 </configSections>
	<connectionStrings>
		<add name="LiteDatabaseConnection" connectionString=".\Database\localdb.db"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
	<userSettings>
		<Translit.Properties.Settings>
   <setting name="AutoSave" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DefaultLanguage" serializeAs="String">
    <value>ru-RU</value>
   </setting>
   <setting name="MacAddress" serializeAs="String">
    <value />
   </setting>
   <setting name="User" serializeAs="String">
    <value />
   </setting>
   <setting name="RealTimeTransliteration" serializeAs="String">
    <value>False</value>
   </setting>
  </Translit.Properties.Settings>
	</userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="libraries"></probing>
		</assemblyBinding>
	</runtime>
</configuration>
